html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  /* Sirve para que el footer este siempre en la misma posicion */
  flex-grow: 1;
}

.container {
  margin-left: auto;
  margin-left: auto;
  max-width: 1200px;
}

.header {
  padding: 0.5rem;
  background-color: antiquewhite;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 7rem;
  height: auto;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-size: 115%;
}

.menu a {
  color: chocolate;
  padding: 0 1vw;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.menu a:hover {
  opacity: 0.75;
}
